@media screen and (min-width: 1025px) {
    nav ul {
        width: 520px;
        li {
            font-size: 4em;
            &:hover {
                transform: skewY(-10deg) translateX(-100px);
                letter-spacing: 1px;
                background-color: $first-color;
            }
            &::before {
                left: -105px;
                width: 105px;
                height: 105px;
            }
            &::after {
                top: -73px;
                height: 73px;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    nav ul {
        width: 60vw;
        li {
            font-size: 2.9em;
            &::before {
                left: -83px;
                width: 83px;
                height: 83px;
            }
            &::after {
                top: -57px;
                height: 57px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    nav ul {
        width: calc(100vw - 163px);
        transform: translateX(40px);
        li {
            font-size: 1.3em;
            &::before {
                left: -55px;
                width: 55px;
                height: 55px;
            }
            &::after {
                top: -38px;
                height: 38px;
            }
            a {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
@media screen and (max-width: 310px) {
    nav ul {
        width: calc(100vw - 123px);
        transform: translateX(20px);
        li {
            font-size: 0.9em;
            &::before {
                left: -47px;
                width: 47px;
                height: 47px;
            }
            &::after {
                top: -33px;
                height: 33px;
            }
        }
    }
}

nav {
    background-color: $third-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: 0.4s ease-in-out;
    transform: translateY(-100%);
    z-index: 2;
    @include flexFullCenter;
    ul {
        gap: 10px;
        @include flexColumn;
        li {
            &:nth-child(3) {
                box-shadow: -4px 1px 2px 1px rgba($fourth-color, 0.2);
                &::before {
                    box-shadow: 0px 2px 2px 1px rgba($fourth-color, 0.2);
                }
            }
            background-color: $fourth-color;
            position: relative;
            transition: 0.3s ease-in-out;
            transform-origin: left;
            transform: skewY(-10deg);
            @for $i from 1 to 6 {
                &:nth-child(#{$i}) {
                    z-index: getZIndex($i);
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                background-color: $sixth-color;
                transform: skewY(35deg);
                transform-origin: right;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                background-color: $second-color;
                transform-origin: bottom;
                transform: skewX(55deg);
            }
            a {
                display: block;
                width: calc(100% - 50px);
                color: $sixth-color;
                cursor: none;
                padding: 15px 25px;
            }
        }
    }
}
nav.opened {
    transform: translateY(0);
}
