.project {
    position: relative;
    transition: 0.3s ease-out;
    gap: 15px;
    overflow: hidden;
    height: calc(((100vw - 415px) / 3));
    box-shadow: 0px 3px 8px 3px rgba($color: #000000, $alpha: 0.25);
    img {
        position: absolute;
        z-index: -1;
        left: -10%;
        top: -10%;
        width: 140%;
        height: 140%;
        // transform: translate(--img-trans-x, --img-trans-y);
    }
    &:hover {
        transform: scale(0.95);
        .project-content {
            background-color: rgba($clr-1, 0.5);
            backdrop-filter: blur(3px);
            h3 {
                transform: translateY(0);
            }
            a {
                transform: translateY(0);
            }
            ul > li {
                animation: increaseOpacity 0.1s ease-in forwards;
                @for $i from 1 through 9 {
                    &:nth-child(#{$i}) {
                        animation-delay: counterLiDelay($i);
                    }
                }
            }
        }
    }
    &-content {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        // gap: 25px;
        transition: 0.3s ease-in;
        h3 {
            text-align: center;
            font-size: $small-title;
            font-weight: 900;
            color: $third-color;
            transition: 0.25s ease-in;
            transform: translateY(-150px);
        }
        ul {
            width: 45%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5px;
            li {
                padding: 5px 15px;
                background-color: $first-color;
                border-radius: 5px;
                color: $clr-1;
                font-size: $small-title;
                opacity: 0;
                @for $i from 1 through 9 {
                    &:nth-child(#{$i}) {
                        animation-delay: counterLiDelay($i);
                    }
                }
            }
        }
        a {
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 45px;
            border: 2px solid $first-color;
            text-transform: uppercase;
            font-weight: 900;
            color: $first-color;
            transform: translateY(150px);
            transition: 0.25s ease-out;
            z-index: 5;
            &:hover {
                color: $third-color;
                border-color: $third-color;
                transform: scaleX(1.2) !important;
            }
        }
    }
}
#illuprojet-1 {
    transform: translate(var(--img1-trans-x), var(--img1-trans-y));
}
#illuprojet-2 {
    transform: translate(var(--img2-trans-x), var(--img2-trans-y));
}
#illuprojet-3 {
    transform: translate(var(--img3-trans-x), var(--img3-trans-y));
}
#illuprojet-4 {
    transform: translate(var(--img4-trans-x), var(--img4-trans-y));
}
#illuprojet-5 {
    transform: translate(var(--img5-trans-x), var(--img5-trans-y));
}
#illuprojet-6 {
    transform: translate(var(--img6-trans-x), var(--img6-trans-y));
}
#illuprojet-7 {
    transform: translate(var(--img7-trans-x), var(--img7-trans-y));
}
