.project {
    @media screen and (min-width: 1025px) {
        height: calc(((100vw - 715px) / 3));
    }
    @media screen and (max-width: 1024px) {
        height: calc(((100vw - 180px) / 2));
    }
    @media screen and (max-width: 767px) {
        height: calc(100vw - 80px);
    }
    position: relative;
    transition: 0.3s ease-out;
    gap: 15px;
    overflow: hidden;
    box-shadow: 0px 3px 8px 3px rgba($color: #000000, $alpha: 0.25);
    opacity: 0;
    animation: increaseOpacity 0.2s ease-in forwards;
    @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
            animation-delay: counterToolDelay($i);
        }
    }
    img {
        position: absolute;
        z-index: -1;
        left: -20%;
        top: -20%;
        width: 140%;
        height: 140%;
    }
    &:hover {
        transform: scale(0.95);
        .project-content {
            background-color: rgba($clr-1, 0.5);
            backdrop-filter: blur(3px);
            h3 {
                transform: translateY(0);
            }
            a {
                transform: translateY(0);
            }
            ul > li {
                animation: increaseOpacity 0.1s ease-in forwards;
                @for $i from 1 through 9 {
                    &:nth-child(#{$i}) {
                        animation-delay: counterLiDelay($i);
                    }
                }
            }
        }
    }
    &-content {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: 0.3s ease-in;
        h3 {
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                @media screen and (max-height: 900px) {
                    transform: translateY(-300px);
                }
                height: 26px;
                width: calc((100vw - 230px) / 2);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            text-align: center;
            font-size: 1.5em;
            font-weight: 900;
            color: $third-color;
            transition: 0.25s ease-in;
            transform: translateY(-150px);
        }
        ul {
            @media screen and (min-width: 1025px) {
                @media screen and (max-height: 900px) {
                    display: none;
                }
            }
            @media screen and (max-width: 1024px) {
                display: none;
            }
            width: 75%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5px;
            li {
                padding: 5px 15px;
                background-color: $first-color;
                border-radius: 5px;
                color: $clr-1;
                font-size: 1.5em;
                opacity: 0;
                @for $i from 1 through 9 {
                    &:nth-child(#{$i}) {
                        animation-delay: counterLiDelay($i);
                    }
                }
            }
        }
        a {
            @media screen and (min-width: 1025px) {
                &:hover {
                    color: $third-color;
                    border-color: $third-color;
                    transform: scaleX(1.2) !important;
                }
            }
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                @media screen and (max-height: 900px) {
                    transform: translateY(300px);
                }
            }
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 45px;
            border: 2px solid $first-color;
            text-transform: uppercase;
            font-weight: 900;
            color: $first-color;
            transform: translateY(150px);
            transition: 0.25s ease-out;
            z-index: 5;
        }
    }
}
#illuprojet-1 {
    transform: translate(var(--img1-trans-x), var(--img1-trans-y));
}
#illuprojet-2 {
    transform: translate(var(--img2-trans-x), var(--img2-trans-y));
}
#illuprojet-3 {
    transform: translate(var(--img3-trans-x), var(--img3-trans-y));
}
#illuprojet-4 {
    transform: translate(var(--img4-trans-x), var(--img4-trans-y));
}
#illuprojet-5 {
    transform: translate(var(--img5-trans-x), var(--img5-trans-y));
}
#illuprojet-6 {
    transform: translate(var(--img6-trans-x), var(--img6-trans-y));
}
#illuprojet-7 {
    transform: translate(var(--img7-trans-x), var(--img7-trans-y));
}
