@media screen and (min-width: 1025px) {
    .about {
        // height: calc(45vh + 193px);
        // min-height: calc(100vh - 300px);
        gap: 40px;
        &__dynamic-links-container {
            > div > a {
                font-size: 2.5em;
                &:hover {
                    &::after {
                        transform: scaleX(1);
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 35px;
                    left: 0;
                    height: 3px;
                    width: 100%;
                    background-color: $first-color;
                    transform-origin: left;
                    transform: scaleX(0);
                    transition: 0.3s ease-in-out;
                }
            }
        }
    }
    @media screen and (min-height: 901px) {
        .about {
            width: calc(100% - 900px);
            padding: 160px 450px 280px;
            min-width: 950px;
            &::after {
                width: calc(100% - 100px);
                left: 50px;
            }
        }
    }
    @media screen and (max-height: 900px) {
        .about {
            padding: 0 150px;
            width: calc(100% - 300px);
            &::after {
                width: calc(100% - 300px);
                left: 150px;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .about {
        padding-bottom: 200px;
        > #to-intro {
            display: none;
        }
        > #to-contact {
            display: none;
        }
        &__dynamic-links-container {
            > div > a {
                font-size: 1.5em;
                em {
                    font-size: 1em !important;
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        .about {
            padding-top: 100px;
            width: calc(100% - 160px);
            height: calc(50vh + 300px);
            min-height: 600px;
            // padding-bottom: 200px;
            &::after {
                width: calc(100% - 160px);
                left: 80px;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .about {
        justify-content: space-between;
        &__dynamic-links-container {
            @include flexBetweenXCenterY;
        }
    }
}
@media screen and (max-width: 767px) {
    .about {
        width: calc(100% - 80px);
        height: 80vh;
        justify-content: center;
        padding-bottom: 200px;
        &::after {
            display: none;
        }
        &__dynamic-links-container {
            height: calc(35vh + 172px);
            @include flexColumnBetweenY;
        }
    }
}
@media screen and (max-width: 320px) {
    .about {
        width: calc(100% - 40px);
        &__dynamic-links-container {
            > div > a {
                font-size: 1.2em;
                em {
                    font-size: 0.8em !important;
                }
            }
        }
    }
}

.about {
    background-color: $sixth-color;
    position: relative;
    @include flexColumnCenterX;
    flex-wrap: nowrap;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        height: 1px;
        background-color: rgba($clr-2, 0.2);
        box-shadow: 0px 5px 12px 2px rgba($clr-2, 0.2);
    }
    > .slope-container {
        position: absolute;
        top: -99px;
        width: 100%;
        height: 100px;
        overflow: hidden;
        > .left-slope {
            position: absolute;
            // z-index: -1;
            background-color: $sixth-color;
            width: 60%;
            height: 100%;
            transform-origin: top left;
            transform: rotate(5.5deg);
        }
        > .right-slope {
            position: absolute;
            right: 0;
            // z-index: -1;
            background-color: $sixth-color;
            width: 60%;
            height: 100%;
            transform-origin: top right;
            transform: rotate(-5.5deg);
        }
    }
    > #to-intro {
        position: absolute;
        top: 100px;
        font-size: 45px;
        color: $first-color;
    }
    > #to-contact {
        position: absolute;
        bottom: 200px;
        font-size: 45px;
        color: $first-color;
    }
    &__dynamic-links {
        &-container {
            width: 100%;
            > div > a {
                cursor: none;
                color: $third-color;
                font-weight: 600;
                em {
                    font-family: "graphic-fonts";
                    color: $first-color;
                    font-size: 1.5em;
                }
            }
            > div {
                > span {
                    position: absolute;
                    border-radius: 50%;
                    z-index: -1;
                }
            }
        }
    }
}
