.about-me-page {
    @media screen and (min-width: 1025px) {
        @media screen and (min-height: 901px) {
            width: calc(100% - 900px);
            min-width: 950px;
        }
        @media screen and (max-height: 900px) {
            width: calc(100% - 300px);
        }
    }
    @media screen and (max-width: 1024px) {
        width: calc(100% - 160px);
    }
    @media screen and (max-width: 767px) {
        width: calc(100% - 80px);
    }
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin-bottom: 200px;
    h1 {
        @media screen and (min-width: 1025px) {
            font-size: 4.5em;
        }
        @media screen and (max-width: 1024px) {
            font-size: 2.8em;
        }
        @media screen and (max-width: 310px) {
            font-size: 1.4em;
        }
        margin-top: 130px;
        text-transform: uppercase;
        color: $fifth-color;
        opacity: 0;
        animation: increaseOpacity 0.2s ease-in-out 0.3s forwards;
    }
    > div {
        width: 100%;
    }
    h2 {
        @media screen and (min-width: 768px) {
            font-size: 2.5em;
        }
        @media screen and (max-width: 767px) {
            font-size: 2em;
            margin-left: 18px;
        }
        @media screen and (max-width: 310px) {
            font-size: 1.2em;
        }
        color: $second-color;
        position: relative;
        margin-bottom: 25px;
        opacity: 0;
        &::before {
            @media screen and (max-width: 310px) {
                font-size: 0.9em;
                width: 3px;
            }
            content: "";
            position: absolute;
            top: 3px;
            left: -15px;
            width: 5px;
            height: 1em;
            background-color: $first-color;
        }
    }
    &__few-words-side {
        h2 {
            animation: increaseOpacity 0.2s ease-in-out 0.9s forwards;
        }
        p {
            @media screen and (min-width: 768px) {
                font-size: 1.4em;
            }
            @media screen and (max-width: 767px) {
                font-size: 1.2em;
            }
            @media screen and (max-width: 310px) {
                font-size: 1em;
                line-height: 30px;
            }
            width: 100%;
            display: flex;
            justify-content: center;
            line-height: 36px;
            opacity: 0;
            animation: increaseOpacity 0.2s ease-in-out 1.1s forwards;
        }
        em {
            @media screen and (min-width: 768px) {
                width: 70%;
            }
            @media screen and (max-width: 767px) {
                width: 90%;
            }
        }
    }
    &__soft-skills-side {
        ul {
            @media screen and (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
            @media screen and (max-width: 767px) {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
            }
            display: grid;
            gap: 15px;
            li {
                color: $clr-1;
                text-align: center;
                position: relative;
                background-color: $first-color;
                border-radius: 8px;
                z-index: 2;
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 80px;
                &:first-child {
                    animation: halfTranslateRight 0.2s ease-in-out 0.4s forwards;
                    opacity: 0;
                    transform: translateX(-50%);
                    &:hover {
                        > span:first-child {
                            svg {
                                transform-origin: center;
                                &:nth-child(1) {
                                    animation: spinLeft 0.8s linear infinite;
                                }
                                &:nth-child(2) {
                                    animation: spinRight 0.8s linear infinite;
                                }
                                &:nth-child(3) {
                                    animation: spinLeft 0.8s linear infinite;
                                }
                            }
                        }
                    }
                    > span:first-child {
                        position: relative;
                        height: 30px;
                        width: 100%;
                        svg {
                            position: absolute;
                            left: 50%;
                            &:nth-child(1) {
                                left: calc(50% - 10px);
                                bottom: 0px;
                            }
                            &:nth-child(3) {
                                left: calc(50% + 10px);
                                bottom: 0px;
                            }
                        }
                    }
                }
                span:last-child {
                    @media screen and (min-width: 768px) {
                        font-size: 1.5em;
                    }
                    @media screen and (max-width: 767px) {
                        font-size: 1.2em;
                    }
                    @media screen and (max-width: 310px) {
                        font-size: 1em;
                    }
                    text-transform: uppercase;
                }
                &:nth-child(2) {
                    @media screen and (min-width: 768px) {
                        transform: translateX(50%);
                        animation: halfTranslateLeft 0.2s ease-in-out 0.5s
                            forwards;
                    }
                    @media screen and (max-width: 767px) {
                        transform: translateX(-50%);
                        animation: halfTranslateRight 0.2s ease-in-out 0.6s
                            forwards;
                    }
                    opacity: 0;
                    span:first-child {
                        font-size: 1.5em;
                    }
                    &:hover {
                        svg {
                            transform: scale(1.5) translateY(-1px);
                        }
                    }
                }
                &:nth-child(3) {
                    opacity: 0;
                    transform: translateX(-50%);
                    animation: halfTranslateRight 0.2s ease-in-out 0.7s forwards;
                    span:first-child {
                        font-size: 1.5em;
                    }
                    &:hover {
                        svg {
                            transform-origin: 3px 3px;
                            animation: wrenchAnimation 0.8s linear 2;
                        }
                    }
                }
                &:nth-child(4) {
                    @media screen and (min-width: 768px) {
                        transform: translateX(50%);
                        animation: halfTranslateLeft 0.2s ease-in-out 0.8s
                            forwards;
                    }
                    @media screen and (max-width: 767px) {
                        transform: translateX(-50%);
                        animation: halfTranslateRight 0.2s ease-in-out 0.8s
                            forwards;
                    }
                    opacity: 0;
                    &:hover {
                        span:first-child {
                            transform: translateX(35px);
                        }
                        &::after {
                            transform: scaleX(1);
                        }
                    }
                    span:first-child {
                        font-size: 1.5em;
                        transition: 0.2s ease-in-out;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        width: 35px;
                        height: 2px;
                        background-color: $clr-1;
                        bottom: 45px;
                        left: calc(50% - 8px);
                        transform-origin: left;
                        transition: 0.2s ease-in-out;
                        transform: scaleX(0);
                    }
                }
                svg {
                    transition: 0.2s ease-in-out;
                }
            }
        }
    }
    &__hobbies-side {
        h2 {
            animation: increaseOpacity 0.2s ease-in-out 1.2s forwards;
        }
        .about-me-page__list-container {
            @media screen and (min-width: 1025px) {
                flex-direction: column;
            }
            @media screen and (max-width: 1024px) {
                position: relative;
            }
            justify-content: center;
            align-items: center;
            display: flex;
            width: 100%;
            ul {
                @media screen and (min-width: 1025px) {
                    &:hover {
                        li {
                            opacity: 0.2;
                        }
                    }
                }
                @media screen and (max-width: 1024px) {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    width: 100%;
                }
                @media screen and (min-width: 768px) {
                    font-size: 1.8em;
                }
                @media screen and (max-width: 767px) {
                    font-size: 1.2em;
                }
                @media screen and (max-width: 310px) {
                    font-size: 1em;
                }
                z-index: 1;
                li {
                    @media screen and (min-width: 1025px) {
                        transition: 0.1s ease-in-out;
                        opacity: 1;
                        line-height: 56px;
                        &:hover {
                            opacity: 1;
                        }
                    }
                    @media screen and (max-width: 1024px) {
                        width: 100%;
                        height: 90px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba($clr-1, 0.5);
                    }
                    @media screen and (max-width: 310px) {
                        line-height: 36px;
                    }
                    z-index: 2;
                }
            }
        }
    }
    &__hobbies-gallery {
        @media screen and (min-width: 768px) {
            width: calc(100% - 160px);
        }
        @media screen and (max-width: 767px) {
            width: calc(100% - 80px);
        }
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 25px;
        li {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                position: absolute;
            }
        }
    }
    &__hobbies-data {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        img {
            @media screen and (min-width: 768px) {
                max-width: 30%;
                min-height: 35%;
            }
            @media screen and (max-width: 767px) {
                max-width: 55%;
                min-height: 35%;
            }
            opacity: 0;
            position: absolute;
            width: auto;
            height: auto;
            pointer-events: none;
            &.is-active {
                opacity: 1;
            }
        }
    }
}
