.about-work {
    // padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    width: calc(100% - 600px);
    &__main-title {
        margin-top: 130px;
        // margin-left: 150px;
        font-size: $big-title;
        width: calc(100% - 600px);
        color: $fifth-color;
    }
    h2 {
        font-size: $small-title;
        color: $second-color;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -15px;
            width: 7px;
            height: 48px;
            background-color: $first-color;
        }
    }
    &__projects-and-tools-section {
        width: calc(100% - 600px);
        // height: calc(100vh - 226px);
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__tools {
        &-side {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
        }
        &-container {
            // display: grid;
            // grid-template-columns: repeat(13, 110px);
            // grid-template-rows: repeat(1, 110px);
            display: flex;
            justify-content: center;
            gap: 20px;
            svg {
                width: 90px;
                height: 90px;
            }
        }
    }
    &__projects {
        &-side {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 35px;
        }
        &-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 35px;
        }
    }
    &__formation-skills-section {
        height: 80vh;
        position: relative;
        > div {
            width: 100%;
        }
    }
    &__formation-side {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
            display: flex;
            justify-content: center;
            width: 100%;
            em {
                width: 75%;
                line-height: 32px;
            }
        }
    }
    &__hard-skills-side {
        ul {
            margin-left: 250px;
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            li {
                transform-origin: left;
                font-size: $big-text;
                position: relative;
                height: 25px;
                // &::before {
                //     content: "";
                //     position: absolute;
                //     left: -25px;
                //     top: 0;
                //     height: 10px;
                //     width: 10px;
                //     border-radius: 50%;
                //     background-color: $second-color;
                // }
            }
            #json {
                &:hover {
                    &::before {
                        opacity: 1;
                    }
                    &::after {
                        opacity: 1;
                    }
                }
                &::before {
                    content: "{";
                    position: absolute;
                    top: 0;
                    color: $third-color;
                    font-weight: 900;
                    transform: translateX(-15px);
                    opacity: 0;
                    transition: 0.2s ease-in;
                }
                &::after {
                    content: "}";
                    position: absolute;
                    top: 0;
                    color: $third-color;
                    font-weight: 900;
                    transform: translateX(15px);
                    opacity: 0;
                    transition: 0.2s ease-in;
                }
            }
            #ajax {
                &:hover {
                    span {
                        &:nth-child(1) {
                            transform: translateX(0px);
                            opacity: 1;
                        }
                        &:nth-child(2) {
                            transform: translateX(70px);
                            opacity: 0;
                        }
                    }
                }
                span {
                    position: absolute;
                    transition: 0.2s ease-in;
                    &:nth-child(1) {
                        transform: translateX(-70px);
                        opacity: 0;
                    }
                }
            }
            #responsive {
                transition: 0.2s ease-in;
                &:hover {
                    transform: scaleX(0.6);
                }
            }
        }
    }
}
