@media screen and (min-width: 1025px) {
    @media screen and (min-height: 901px) {
        .project-page {
            width: calc(100vw - 900px);
            min-width: 800px;
            &__carousel-area {
                width: calc(100vw - 916px);
                min-width: 800px;
            }
        }
    }
    @media screen and (max-height: 900px) {
        .project-page {
            width: calc(100vw - 316px);
            &__carousel-area {
                width: calc(100vw - 316px);
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .project-page__carousel-area {
        width: calc(100vw - 166px);
    }
}
@media screen and (min-width: 768px) {
    .project-page h1 {
        font-size: 2.5em;
    }
}
@media screen and (max-width: 767px) {
    .project-page {
        width: calc(100vw - 80px);
        h1 {
            font-size: 2em;
        }
        &__carousel-area {
            width: calc(100vw - 80px);
            margin-bottom: 80px;
            em {
                bottom: -35px !important;
            }
        }
    }
}
@media screen and (max-width: 310px) {
    .project-page h1 {
        font-size: 1.3em;
    }
}
.project-page {
    padding-top: 150px;
    margin-bottom: 80px;
    gap: 50px;
    @include flexColumnCenterY;
    h1 {
        text-align: center;
        font-family: "title-fonts";
        color: $fourth-color;
    }
    &__carousel-area {
        position: relative;
        height: 50vh;
        max-height: 50vh;
        @include flexFullCenter;
        em {
            position: absolute;
            bottom: -20px;
        }
    }
}
