.project-page {
    @media screen and (min-width: 1025px) {
        @media screen and (min-height: 901px) {
            width: calc(100vw - 900px);
            min-width: 800px;
        }
        @media screen and (max-height: 900px) {
            width: calc(100vw - 316px);
        }
    }
    @media screen and (max-width: 767px) {
        width: calc(100vw - 80px);
    }
    padding-top: 150px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    h1 {
        @media screen and (min-width: 768px) {
            font-size: 2.5em;
        }
        @media screen and (max-width: 767px) {
            font-size: 2em;
        }
        @media screen and (max-width: 310px) {
            font-size: 1.3em;
        }
        font-weight: 900;
        color: $fifth-color;
    }
    &__carousel-area {
        @media screen and (min-width: 1025px) {
            @media screen and (min-height: 901px) {
                width: calc(100vw - 916px);
                min-width: 800px;
            }
            @media screen and (max-height: 900px) {
                width: calc(100vw - 316px);
            }
        }
        @media screen and (max-width: 1024px) {
            width: calc(100vw - 166px);
        }
        @media screen and (max-width: 767px) {
            width: calc(100vw - 80px);
            margin-bottom: 80px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 50vh;
        margin-bottom: 50px;
        em {
            @media screen and (max-width: 767px) {
                bottom: -35px;
            }
            position: absolute;
            bottom: -20px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        position: relative;
        p {
            @media screen and (min-width: 768px) {
                padding: 0 100px;
                text-align: center;
                width: calc(100% - 200px);
            }
            @media screen and (max-width: 767px) {
                padding: 0 20px;
                text-align: center;
                width: calc(100% - 40px);
            }
            @media screen and (max-width: 310px) {
                padding: 0;
                width: 100%;
                font-size: 1em;
            }
            font-size: 1.2em;
            line-height: 32px;
        }
        ul {
            @media screen and (min-width: 768px) {
                padding: 0 100px;
                width: calc(100% - 200px);
            }
            @media screen and (max-width: 767px) {
                padding: 0 20px;
                width: calc(100% - 40px);
            }
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 25px;
            &.visible {
                li {
                    animation: increaseOpacity 0.1s ease-in-out forwards;
                    @for $i from 1 through 9 {
                        &:nth-child(#{$i}) {
                            animation-delay: counterLiDelay($i);
                        }
                    }
                }
            }
            li {
                @media screen and (min-width: 768px) {
                    font-size: 1.5em;
                    padding: 5px 15px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 1.2em;
                    padding: 7px 15px;
                }
                opacity: 0;
                background-color: $first-color;
                color: $clr-1;
                border-radius: 5px;
                font-weight: 600;
                letter-spacing: 1.5px;
            }
        }
        &__btn-container {
            @media screen and (min-width: 1025px) {
                @media screen and (min-height: 901px) {
                    &:hover {
                        animation: buttonHover 0.8s ease-in-out infinite;
                    }
                }
            }
            @media screen and (min-width: 768px) {
                width: 300px;
            }
            @media screen and (max-width: 767px) {
                width: calc(100vw - 80px);
            }
            left: 50%;
            transform: translateX(-50%);
            position: relative;
            height: 70px;
            .gradient {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                border-radius: 4px;
                border: 2px solid transparent;
                a {
                    display: inline-block;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.2em;
                    letter-spacing: 2px;
                    color: $first-color;
                }
            }
        }
    }
}
