.project-page {
    padding-top: 150px;
    // height: 100vh;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    h1 {
        font-size: $big-title;
        font-weight: 900;
        color: $fifth-color;
    }
    &__carousel-area {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 50vh;
        width: calc(100vw - 916px);
        margin-bottom: 50px;
        em {
            position: absolute;
            bottom: -20px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        gap: 50px;
        position: relative;
        p {
            padding: 0 100px;
            text-align: center;
            width: calc(100% - 200px);
            line-height: 32px;
            font-size: $big-text;
        }
        ul {
            padding: 0 100px;
            width: calc(100% - 200px);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 25px;
            li {
                background-color: $first-color;
                color: $clr-1;
                padding: 5px 15px;
                border-radius: 5px;
                font-size: $small-title;
                font-weight: 600;
                letter-spacing: 1.5px;
            }
        }
        &__btn-container {
            left: 50%;
            transform: translateX(-50%);
            position: relative;
            width: 300px;
            height: 70px;
            &:hover {
                animation: buttonHover 0.8s ease-in-out infinite;
            }
            .gradient {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                border-radius: 4px;
                border: 2px solid transparent;
                a {
                    display: inline-block;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: $big-text;
                    letter-spacing: 2px;
                    color: $first-color;
                }
            }
        }
    }
    // img {
    //     position: relative;
    //     top: 50%;
    //     transform: translateY(-45%);
    //     width: 25%;
    // }
}
