@media screen and (min-width: 768px) {
    .hobbies-gallery {
        width: calc(100% - 160px);
    }
}
@media screen and (max-width: 767px) {
    .hobbies-gallery {
        width: calc(100% - 80px);
    }
}

.hobbies-gallery {
    position: absolute;
    gap: 25px;
    @include flexColumn;
    li {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 90px;
        border-radius: 5px;
        @include flexFullCenter;
        img {
            position: absolute;
        }
    }
}
