.pictures-carousel {
    &__container {
        @media screen and (min-width: 1025px) {
            @media screen and (min-height: 901px) {
                width: calc(100% + 200px);
            }
            @media screen and (max-height: 900px) {
                width: 100%;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 100%;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
        }
        position: relative;
        display: flex;
    }
    &__btn {
        @media screen and (min-width: 1025px) {
            font-size: 60px;
            width: 100px;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 60px;
            width: 80px;
        }
        @media screen and (max-width: 767px) {
            font-size: 45px;
            position: absolute;
            height: 100%;
            &.next {
                right: 0;
            }
        }
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        &:hover {
            svg:first-child {
                transform: translateY(0);
            }
            svg:last-child {
                transform: translateY(75px);
            }
        }
        &-container {
            position: relative;
            overflow: hidden;
            height: 60px;
            width: 60px;
        }
        svg {
            position: absolute;
            color: rgba($clr-2, 0.3);
            transition: 0.2s ease-in-out;
        }
        svg.active {
            @media screen and (min-width: 768px) {
                color: $first-color;
            }
            @media screen and (max-width: 767px) {
                color: $third-color;
            }
            transform: translateY(-75px);
        }
    }
    &__content {
        @media screen and (min-width: 1025px) {
            width: calc(100% - 200px);
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: calc(100% - 160px);
        }
        @media screen and (max-width: 767px) {
            width: 100%;
        }
        display: flex;
        gap: 225px;
        overflow-x: auto;
        position: relative;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            width: 16px;
            background-color: transparent;
        }
        &:not([no-y-overflow])::-webkit-scrollbar-thumb {
            height: 56px;
            border-radius: 8px;
            border: 4px solid transparent;
            background-clip: content-box;
        }
        &::-webkit-scrollbar-thumb {
            height: 56px;
            border-radius: 8px;
            border: 4px solid transparent;
            background-clip: content-box;
            background-color: hsl(0, 0%, 67%);
            &:hover {
                background-color: lighten(hsl(0, 0%, 67%), 5);
            }
        }
        > div {
            @media screen and (min-width: 1025px) {
                width: calc(100vw - 900px);
            }
            @media screen and (max-width: 1024px) {
                width: calc(100vw - 160px);
            }
            position: relative;
            min-width: 100%;
            height: 50vh;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            img {
                width: auto;
                height: 100%;
                object-fit: contain;
            }
            > div {
                position: absolute;
                padding: 15px 25px;
                bottom: 0;
                width: calc(100% - 50px);
                height: 50px;
                background-color: rgba($clr-2, 0.6);
                left: 0;
                color: $clr-1;
            }
        }
    }
}
