@function counterDuration($i) {
    $duration: 0.2s + ($i * 0.2s);
    @return $duration;
}

@function counterLiDelay($i) {
    $delay: 0.2s + ($i * 0.15s);
    @return $delay;
}

@function counterToolDelay($i) {
    $delay: 0.8s + ($i * 0.1s);
    @return $delay;
}
@function counterProjectDelay($i) {
    $delay: 2.3s + ($i * 0.1s);
    @return $delay;
}
@function counterBubbleDelay($i) {
    $delay: 0.2s + ($i * 0.2s);
    @return $delay;
}
@function counterMyBubbleDelay($i) {
    $delay: 1.8s + ($i * 0.2s);
    @return $delay;
}
@function counterHobbieDelay($i) {
    $delay: 2.6s + ($i * 0.2s);
    @return $delay;
}

// //This function returns a delay in second/10
// //@Params { type: numbers * 4 }
// //The first one defines wich child we are targetting
// //The second one defines the time before the animation starts
// //The third one is the time of the animation
// //The last one is time between each animation
// @function counterDelay($i, $duration, $gap) {
//     $delay: (($i * ($duration + $gap)) + 0.5) / 10;
//     @return $delay;
// }
@function getZIndex($i) {
    $zindex: -(($i + 1) - 5);
    @return $zindex;
}
