@function counterDuration($i) {
    $duration: 0.2s + ($i * 0.2s);
    @return $duration;
}

@function counterLiDelay($i) {
    $delay: 0.2s + ($i * 0.1s);
    @return $delay;
}

@function counterToolDelay($i) {
    $delay: 0.6s + ($i * 0.05s);
    @return $delay;
}
@function counterProjectDelay($i) {
    $delay: 2.3s + ($i * 0.1s);
    @return $delay;
}
@function counterBubbleDelay($i) {
    $delay: 0.2s + ($i * 0.2s);
    @return $delay;
}
@function counterMyBubbleDelay($i) {
    $delay: 0.8s + ($i * 0.2s);
    @return $delay;
}
@function counterHobbieDelay($i) {
    $delay: 2.6s + ($i * 0.2s);
    @return $delay;
}

@function getZIndex($i) {
    $zindex: -(($i + 1) - 5);
    @return $zindex;
}
