@import "../2.Utils/variables";

/*******************************Single Property animated********************************/
@keyframes translateDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}

@keyframes scaleFromX {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes increaseOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes decreaseOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes increaseWidth {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}
@keyframes decreaseWidth {
    0% {
        width: 100%;
    }
    100% {
        width: 50%;
    }
}
@keyframes increaseHeight {
    0% {
        height: 0%;
    }
    100% {
        height: 50%;
    }
}
@keyframes decreaseHeight {
    0% {
        height: 100%;
    }
    100% {
        height: 50%;
    }
}
@keyframes spinLeft {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spinRight {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes getYourScale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
/*******************************Double Property animated********************************/
@keyframes translateRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes translateLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes halfTranslateRight {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes halfTranslateLeft {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes increaseScale {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        transform: scale(2) translate(-25%, -25%);
    }
}
@keyframes decreaseScale {
    0% {
        transform: scale(2) translate(-25%, -25%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}

/*******************************Special element animated********************************/
@keyframes rotateX {
    0% {
        transform: rotateX(-90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes increaseGradientDimensions {
    0% {
        width: 5%;
        height: 60px;
    }
    50%,
    100% {
        height: calc(100% - 20px);
    }
    100% {
        width: calc(100% - 20px);
    }
}

@keyframes buttonHover {
    0%,
    8% {
        transform: translateY(0);
        box-shadow: $btn-shadow;
        -webkit-box-shadow: $btn-shadow;
        -moz-box-shadow: $btn-shadow;
    }
    50% {
        transform: translateY(-8%) scaleX(1.05);
        box-shadow: $btn-shadowHover;
        -webkit-box-shadow: $btn-shadowHover;
        -moz-box-shadow: $btn-shadowHover;
    }
    100% {
        transform: translateY(0);
        box-shadow: $btn-shadow;
        -webkit-box-shadow: $btn-shadow;
        -moz-box-shadow: $btn-shadow;
    }
}
@keyframes buttonFormHover {
    0%,
    8% {
        transform: translate(0, 0);
        box-shadow: $btn-shadow;
        -webkit-box-shadow: $btn-shadow;
        -moz-box-shadow: $btn-shadow;
    }
    50% {
        transform: translate(0, -8%) scaleX(1.05);
        box-shadow: $btn-shadowHover;
        -webkit-box-shadow: $btn-shadowHover;
        -moz-box-shadow: $btn-shadowHover;
    }
    100% {
        transform: translate(0, 0);
        box-shadow: $btn-shadow;
        -webkit-box-shadow: $btn-shadow;
        -moz-box-shadow: $btn-shadow;
    }
}

@keyframes wrenchAnimation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-15deg);
    }
    50%,
    70% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
