//**************************************COLORS*******************************************
//********************************Graphic direction**************************************
$first-color: #2ec4b6;
$second-color: #cbf3f0;
$third-color: #01544C;
$fourth-color: #ffbf69;
$fifth-color: #ff9f1c;
//************************************Black shades***************************************
$clr-1: #ffffff;
$clr-2: #000000;
$black-op9: rgba(0, 0, 0, 0.9);
$black-op8: rgba(0, 0, 0, 0.8);
$black-op7: rgba(0, 0, 0, 0.7);
$black-op6: rgba(0, 0, 0, 0.6);
$black-op5: rgba(0, 0, 0, 0.5);
$black-op4: rgba(0, 0, 0, 0.4);
$black-op3: rgba(0, 0, 0, 0.3);
$black-op2: rgba(0, 0, 0, 0.2);
$black-op1: rgba(0, 0, 0, 0.1);

//************************************FONTS SIZES****************************************
//***************************************Titles******************************************
$big-title: 64px;
$medium-title: 48px;
$small-title: 36px;
//****************************************Texts******************************************
$big-text: 24px;
$medium-text: 20px;
$small-text: 16px;
//****************************************Label******************************************
$label: 32px