@media screen and (min-width: 1025px) {
    .tools-side {
        width: calc(100% - 600px);
    }
    .tools-container {
        svg {
            width: 90px;
            height: 90px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .tools-side {
        width: calc(100% - 160px);
    }
    .tools-container {
        svg {
            height: 60px;
            width: 60px;
        }
    }
}
@media screen and (max-width: 767px) {
    .tools-side {
        width: calc(100% - 80px);
    }
    .tools-container {
        svg {
            height: 45px;
            width: 45px;
        }
    }
}

.tools {
    &-side {
        gap: 20px;
        margin-bottom: 50px;
        @include flexColumn;
        h2 {
            align-self: flex-start;
            animation-delay: 0.5s !important;
        }
    }
    &-container {
        gap: 20px;
        flex-wrap: wrap;
        @include flexCenterX;
        svg {
            opacity: 0;
            animation: increaseOpacity 0.2s ease-in forwards;
            @for $i from 1 through 14 {
                &:nth-child(#{$i}) {
                    animation-delay: counterToolDelay($i);
                }
            }
        }
    }
}
