@media screen and (min-width: 1025px) {
    .project {
        height: calc(((100vw - 631px) / 4));
        width: calc(((100vw - 631px) / 4));
        img {
            left: -10%;
            top: -10%;
            width: 120%;
            height: 120%;
        }
        &-content {
            a {
                &:hover {
                    color: $third-color;
                    border-color: $third-color;
                    transform: scaleX(1.2) !important;
                }
            }
            ul {
                max-height: 85px;
                overflow: hidden;
            }
        }
    }
    #illuprojet-1 {
        transform: translate(var(--img1-trans-x), var(--img1-trans-y));
    }
    #illuprojet-2 {
        transform: translate(var(--img2-trans-x), var(--img2-trans-y));
    }
    #illuprojet-3 {
        transform: translate(var(--img3-trans-x), var(--img3-trans-y));
    }
    #illuprojet-4 {
        transform: translate(var(--img4-trans-x), var(--img4-trans-y));
    }
    #illuprojet-5 {
        transform: translate(var(--img5-trans-x), var(--img5-trans-y));
    }
    #illuprojet-6 {
        transform: translate(var(--img6-trans-x), var(--img6-trans-y));
    }
    #illuprojet-7 {
        transform: translate(var(--img7-trans-x), var(--img7-trans-y));
    }
    #illuprojet-8 {
        transform: translate(var(--img8-trans-x), var(--img8-trans-y));
    }
    #illuprojet-9 {
        transform: translate(var(--img9-trans-x), var(--img9-trans-y));
    }
    @media screen and (max-width: 1750px) {
        .project-content ul {
            display: none !important;
        }
    }
    @media screen and (max-height: 900px) {
        .project-content ul {
            display: none !important;
        }
    }
}
@media screen and (max-width: 1024px) {
    .project {
        height: calc(((100vw - 180px) / 2));
        width: calc(((100vw - 180px) / 2));
        img {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        &-content ul {
            display: none !important;
        }
    }
    @media screen and (min-width: 768px) {
        .project-content h3 {
            height: 26px;
            width: calc((100vw - 230px) / 2);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        @media screen and (max-height: 900px) {
            .project-content {
                h3 {
                    transform: translateY(-300px);
                }
                a {
                    transform: translateY(300px);
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .project {
        height: calc(100vw - 30px);
        width: calc(100vw - 30px);
        h3 {
            font-size: 1.2em !important;
        }
    }
}

.project {
    border-radius: 4px;
    position: relative;
    transition: 0.3s ease-out;
    gap: 15px;
    overflow: hidden;
    box-shadow: 0px 3px 8px 3px rgba($color: #000000, $alpha: 0.25);
    opacity: 0;
    animation: increaseOpacity 0.2s ease-in forwards;
    @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
            animation-delay: counterToolDelay($i);
        }
    }
    img {
        position: absolute;
        z-index: -1;
    }
    &:hover {
        transform: scale(1.1);
        z-index: 5;
        .project-content {
            background-color: rgba($clr-1, 0.5);
            backdrop-filter: blur(3px);
            h3 {
                transform: translateY(0);
            }
            a {
                transform: translateY(0);
            }
            ul > li {
                animation: projectLiAnim 0.1s ease-in forwards;
                @for $i from 1 through 9 {
                    &:nth-child(#{$i}) {
                        animation-delay: counterLiDelay($i);
                    }
                }
            }
        }
    }
    &-content {
        position: relative;
        height: 100%;
        width: 100%;
        transition: 0.3s ease-in;
        @include flexColumnCenterXEvenlyY;
        h3 {
            text-align: center;
            font-size: 1.5em;
            font-weight: 900;
            color: $third-color;
            transition: 0.25s ease-in;
            transform: translateY(-250px);
        }
        ul {
            width: 75%;
            gap: 5px;
            flex-wrap: wrap;
            @include flexCenterX;
            li {
                padding: 5px 15px;
                background-color: $first-color;
                border-radius: 5px;
                color: $clr-1;
                font-size: 1.5em;
                opacity: 0;
                transform: scale(0) translateY(15px);
                @for $i from 1 through 9 {
                    &:nth-child(#{$i}) {
                        animation-delay: counterLiDelay($i);
                    }
                }
            }
        }
        a {
            width: 50%;
            height: 45px;
            border: 2px solid $first-color;
            border-radius: 4px;
            text-transform: uppercase;
            font-weight: 900;
            color: $first-color;
            transform: translateY(250px);
            transition: 0.25s ease-out;
            z-index: 5;
            @include flexFullCenter;
        }
    }
}
