@media screen and (min-width: 1025px) {
    .projects {
        &-side {
            padding: 0 300px !important;
            width: calc(100% - 600px) !important;
        }
        &-container {
            gap: 5px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .projects-side {
        width: calc(100% - 160px);
        background-color: lighten($second-color, 25);
        padding-top: 15px !important;
        .filters-container__content {
            gap: 15px;
            flex-direction: column;
        }
    }
    .projects-container {
        gap: 20px;
    }
}
@media screen and (max-width: 767px) {
    .projects-side {
        width: calc(100% - 80px);
    }
    .projects-container {
        flex-direction: column;
        gap: 20px;
    }
}
.projects {
    &-side {
        gap: 35px;
        padding-bottom: 50px !important;
        @include flexColumn;
        h2 {
            align-self: flex-start;
            animation-delay: 0.7s !important;
        }
        .filters-container {
            width: 100%;
            h3 {
                color: rgba($third-color, 0.9);
                margin-bottom: 10px;
            }
            &__content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px;
                    li {
                        padding: 7px 10px;
                        background-color: $first-color;
                        color: $clr-1;
                        border-radius: 4px;
                        border: 2px solid $first-color;
                        transition: 0.2s ease-in-out;
                        &:hover {
                            background-color: transparent;
                            color: $first-color;
                        }
                    }
                }
                span {
                    text-transform: uppercase;
                    padding: 7px 10px;
                    background-color: $first-color;
                    color: $clr-1;
                    border-radius: 4px;
                    border: 2px solid $first-color;
                    transition: 0.2s ease-in-out;
                    &:hover {
                        background-color: transparent;
                        color: $first-color;
                    }
                }
            }
        }
    }
    &-container {
        display: flex;
        flex-wrap: wrap;
    }
}
