@font-face {
    font-family: "main-fonts";
    src: url(../../assets/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "graphic-fonts";
    src: url(../../assets/fonts/RockSalt-Regular.ttf);
}