@import "../2.Utils/variables";
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}
body {
    @media screen and (min-width: 1025px) {
        cursor: none;
    }
    font-family: "main-fonts";
    box-sizing: border-box;
    &::-webkit-scrollbar {
        width: 16px;
        background-color: transparent;
    }
    &:not([no-y-overflow])::-webkit-scrollbar-thumb {
        height: 56px;
        border-radius: 8px;
        border: 4px solid transparent;
        background-clip: content-box;
    }
    &::-webkit-scrollbar-thumb {
        @media screen and (min-width: 1025px) {
            cursor: none;
        }
        height: 56px;
        border-radius: 8px;
        border: 4px solid transparent;
        background-clip: content-box;
        background-color: hsl(0, 0%, 67%);
        &:hover {
            background-color: lighten(hsl(0, 0%, 67%), 5);
        }
    }
}
body.opened {
    &::-webkit-scrollbar {
        display: none;
    }
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
section {
    // @media screen and (min-width: 1025px) {
    //     padding: 0 450px;
    //     margin-bottom: 200px;
    //     @media screen and (max-height: 900px) {
    //         padding: 0 150px;
    //     }
    // }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 0 80px;
        margin-bottom: 80px;
    }
    @media screen and (max-width: 767px) {
        padding: 0 40px;
        margin-bottom: 80px;
    }
    @media screen and (max-width: 310px) {
        padding: 0 20px;
        margin-bottom: 50px;
    }
}
a {
    text-decoration: none;
    @media screen and (min-width: 1025px) {
        cursor: none;
    }
}
ul {
    list-style: none;
}
img {
    object-fit: cover;
}
input,
textarea {
    @media screen and (min-width: 1025px) {
        cursor: none;
    }
}
.personalised-cursor {
    @media screen and (max-width: 1024px) {
        display: none;
    }
    background-color: rgba($color: rgb(0, 231, 255), $alpha: 0.5);
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 100000;
    backdrop-filter: invert(90%);
    width: 25px;
    height: 25px;
}
