@media screen and (min-width: 768px) {
    .media-icons-container {
        gap: 25px;
        svg {
            font-size: 60px;
        }
    }
}
@media screen and (max-width: 767px) {
    .media-icons-container {
        width: calc(100vw - 80px);
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        svg {
            font-size: 45px;
        }
        a {
            width: 45px;
            height: 45px;
        }
    }
}
@media screen and (max-width: 310px) {
    .media-icons-container {
        width: calc(100vw - 40px);
        gap: 10px;
        svg {
            font-size: 45px;
        }
        a {
            width: 45px;
            height: 45px;
        }
    }
}

.media-icons-container {
    display: flex;
    > a:first-child {
        color: $clr-2;
    }
    #linkedin {
        color: #0172b1;
    }
    #facebook {
        color: #1972eb;
    }
    #twitter {
        color: #1c96e8;
    }
}
